compEx.asy
compEx.pdf
compEx.aux
compEx.fdb_latexmk
compEx.fls
compEx.log
compEx.out
compEx.pdf
compEx.pre
compEx.synctex.gz
compEx.toc
compEx.tex

*.tex
*.asy
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pre
*.synctex.gz
*.toc